:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* Style the body */
body {
  font-family: "Quicksand", sans-serif;
  /* background-image: url(./images/bg-intro-desktop.png); */
  background-color: #bcd5e3;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  /* padding-top: 100px; */
}

.top-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg-label {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 23px;
  font-weight: 600;
}

.sub-svg-label {
  font-size: 18px;
  font-weight: 500;
}
.row {
  display: flex;
  flex-direction: row;
  padding: 2%;
  flex-flow: row;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 40%;
  padding: 20px;
  margin-left: 20px;
}

.title-wrapper {
  text-align: center;
}

.title {
  font-weight: 600;
}

/* Main column */
.main {
  flex: 60%;
  padding: 20px;
}

.fakeimg {
  width: 100%;
  color: var(--white);
  display: flex;
  justify-content: center;
  /* background-color: #9fcde9; */
  /* box-shadow: 0px 10.526315689086914px 10.526315689086914px -5.263157844543457px
      rgba(16, 24, 40, 0.03),
    0px 26.31578826904297px 31.578947067260742px -5.263157844543457px rgba(16, 24, 40, 0.08); */
  /* margin-top: 20%; */
  /* padding-left: 18%; */
}

.sidebar {
  background-color: var(--white);
  /* width: 20%; */
  /* width: 579px; */
  padding: 32px 0px;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0px 10.526315689086914px 10.526315689086914px -5.263157844543457px
      rgba(16, 24, 40, 0.03),
    0px 26.31578826904297px 31.578947067260742px -5.263157844543457px rgba(16, 24, 40, 0.08);
}
svg {
  border-radius: 8px;
}
.heading {
  line-height: 1.2;
  margin: 0;
  font-size: 40px;
}
.para {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.top-heading {
  background-color: #2f42eb;
  padding: 19px;
  width: 80%;
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  border: none;
  font-family: "Quicksand", sans-serif;
  box-shadow: 1px 6px rgba(0, 0, 0, 0.2);
}

.policy {
  font-size: 8px;
  text-align: center;
  color: darkgray;
}

.terms {
  color: var(--error-color);
  font-weight: bold;
  text-decoration: none;
}

.seats-label {
  margin-bottom: 10px;
}
.seats {
  font-size: 14px;
  font-weight: 500;
  /* letter-spacing: 2px; */
  font-weight: 500;
  margin-bottom: 40px;
  word-break: break-all;
}

.form {
  margin-top: 20px;
  padding: 0%;
}

.form-control {
  margin-bottom: 10px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 22px;
}
.grid-item {
}

.grid-item-full {
  grid-column: 1 / -1;
}

.separator {
  border-top: 1.3px solid #e2e8f0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pricing {
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  font-weight: 600;
  padding: 20px;
}

.price-label {
  margin-right: 20px;
}
.form-control label {
  display: inline-block;
  font-size: 18px;
  color: #334155;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 6px;
}

.form-control select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.5em;
}
.form-control select,
.form-control input {
  width: 100%;
  padding: 18px 21px;
  border-radius: 10px;
  border-width: 1.3px;
  border-color: #cbd5e1;
  border-style: solid;
  font-family: "Quicksand", sans-serif;
}

.form-control input:focus {
  outline: 0;
  border-color: #111010;
  color: #111010;
}

.form-control input::placeholder {
  color: #94a3b8;
}
.form-control input:focus::placeholder {
  color: transparent;
}
.form-control.success select,
.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error select,
.form-control.error input {
  border-color: var(--error-color);
  background-image: url(./alert.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 30px;
  color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  font-size: 10px;
  left: 8px;
  bottom: -14px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.testi-header-img {
  position: absolute;
  right: 50px;
}

.testi-header-img1 {
  position: absolute;
  left: 30px;
}

.big-image {
  position: absolute;
  left: 10;
  height: 300px;
}

.form button {
  font-size: 18px;
  font-weight: 600;
  background-color: #91c2df;
  border: none;
  color: var(--white);
  width: 100%;
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: "Poppins";
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 50px; /* 30px from the bottom */
  border-radius: 8px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
  visibility: visible !important; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 50px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

#payment-detail {
  margin: 0;
}

.message-error,
.message {
  visibility: hidden;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 500px;
  background: white;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  color: #2c2928;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5),
    opacity 0.2s ease-in-out;
}
.qr {
}

.message-error .check-error,
.message .check {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
  width: 120px;
  height: 110px;
  color: white;
  font-size: 3.8rem;
  padding-top: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5),
    opacity 0.1s 0.25s ease-in-out;
}

.message .check {
  background: #71c341;
}

.message-error .check-error {
  background: white;
}

.message-error .scaledown,
.message .scaledown {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.message-error p,
.message p {
  font-size: 1.1rem;
  margin: 25px 0px;
  padding: 0;
}

.message-error p:nth-child(2),
.message p:nth-child(2) {
  font-size: 2.3rem;
  margin: 40px 0px 0px 0px;
}

.message-error #close,
.message #ok {
  margin-top: 20px;
  position: relative;
  color: white;
  border: 0;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  font-size: 1.2rem;
  transition: background 0.2s ease;
  outline: none;
}

.copy-text {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-text button {
  padding: 10px;
  background: #5784f5;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.copy-text button:active {
  background: #809ce2;
}
.copy-text button:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}
.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display: block;
}
.copy-text input.text {
  /* padding: 10px; */
  width: 100%;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
}

.message-error #close {
  background: rgb(205, 39, 39);
}

.message #ok {
  background: #71c341;
}

.message #ok:hover {
  background: #8ecf68;
}
.message #ok:active {
  background: #5a9f32;
}

.comein {
  visibility: visible;
  top: 150px;
  opacity: 1;
}
#submit:disabled,
#submit[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media screen and (max-width: 700px) {
  body {
    padding-top: 20px;
  }
  .row {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
  }
  .fakeimg {
    display: block;
    margin: 0px;
    padding: 0;
  }
  .sidebar,
  .para,
  .top-heading {
    width: fit-content;
  }

  /* .fakeimg {
    overflow: auto;
    width: 100vw !important;
    height: 50vh !important;
  } */
  #viewport {
    overflow: hidden;
    width: 100vw !important;
    height: 50vh !important;
  }

  #minimap {
    display: block !important;
  }

  .top-heading {
    text-align: center;
    line-height: 1.6;
  }
  .heading {
    font-size: 26px;
    text-align: center;
    line-height: 1.6;
  }
  .para {
    text-align: center;
  }
  .side,
  .main {
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    padding: 0;
  }

  .grid-container {
    grid-template-columns: auto;
  }
  .form-control small {
    position: static;
  }

  .testi-header-img,
  .testi-header-img1,
  .big-image {
    visibility: hidden;
  }

  .svg-label {
    font-size: 18px;
    text-align: center;
  }
  .sub-svg-label {
    font-size: 12px;
  }

  .message-error,
  .message {
    width: 300px;
  }

  .message-error p,
  .message p {
    font-size: 1.2rem;
  }
  .message-error p:nth-child(2),
  .message p:nth-child(2) {
    font-size: 2rem;
    margin: 40px 0px 0px 0px;
  }

  .comein {
    top: 400px;
  }

  .copy-text button {
    padding: 8px;
  }
}

#viewport {
  position: relative;
  width: 100%;
  max-width: 777px;
}

#map:hover ~ #minimap {
  display: block;
}

#minimap {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.container {
  max-width: 800px;
  margin: 1em auto;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
}
.productcont {
  display: flex;
}
.product {
  padding: 1em;
  border: 1px solid #e0e4cc;
  margin-right: 1em;
  border-radius: 5px;
}
.cart-container {
  border: 1px solid #e0e4cc;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em;
}
.item-table td {
  text-align: left !important;
}
table {
  width: 100%;

  margin-bottom: 1em;
  border-collapse: collapse;
}

table td,
table th {
  text-align: left;
}
#carttotals {
  margin-right: 0;
  margin-left: auto;
}
.cart-buttons {
  width: auto;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

table td:nth-last-child(1) {
  text-align: right;
}
